#student{
        float: left;
        margin: 10px;
        margin-left: 20px;
        height: 70px;
        border-radius: 50%;
}
#header{
    display: flex;
    align-items: center;
    margin: 10px;
    border-radius: 10px;
    background-color:orange;
}